<div class="wide100p">
    {{#if error}}
        {{{errorDiv}}}
    {{/if}}
    <div id="{{prefix}}prompt_manager_drawer" class="inline-drawer wide100p flexFlowColumn sb-openai-settings-subdrawer {{prefix}}prompt_manager_drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <div class="flex-container flexFlowColumn">
                <b data-i18n="Prompts">Prompts</b>
                <small class="sb-group-meta"><span data-i18n="Inspect, reorder, toggle, and edit injected prompts">Inspect, reorder, toggle, and edit injected prompts</span> &middot; <span data-i18n="Total Tokens:">Total Tokens:</span> {{totalActiveTokens}}</small>
            </div>
            <div class="fa-solid fa-circle-chevron-down inline-drawer-icon down"></div>
        </div>
        <div class="inline-drawer-content {{prefix}}prompt_manager_drawer_content" style="display:none;">
            <ul id="{{prefix}}prompt_manager_list" class="text_pole"></ul>
            <div class="{{prefix}}prompt_manager_footer_slot"></div>
        </div>
    </div>
</div>
